.highlight-blue {
  background-color: #0277bd;
  color: white;
}

.highlight-green {
  background-color: #43a047;
  color: white;
}

.highlight-orange {
  background-color: #ef6c00;
  color: white;
}

.highlight-red {
  background-color: #e53935;
  color: white;
}
