.ImagePreview {
    max-width: 200px;
    display: block;
    margin: auto;
}

.ImageBox {
    margin: auto;
}

.errorText {
    color: #e91313;
    margin-left: 15px;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    display: block;
}